$darkblue : #05386b;
$lightgreen : #5CDB95;
$white : #EDF5E1;
$smallFontSize : 15px;
$largeFontSize : 20px;

body {
    background-color: $lightgreen;
}

ul {
    border-color: $darkblue;
    border-width: 2px;
    border-style: solid;
}

li {
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 15px;
    padding-bottom: 15px;
    color : $white;
    font-size : $smallFontSize;
}

h1 {
    color: $white;
    font-size : $largeFontSize;
}
