$darkblue : #05386b;
$lightgreen : #8EE4AF;
$white : #EDF5E1;
body {
    background-color: $lightgreen;
}

ul {

}

li {
    color : $white;
    font-size : 10px;
}

h1 {
    color: $white;
    font-size : 20px;
}
