$darkblue : #05386b;
$lightgreen : #5CDB95;
$white : #EDF5E1;
$smallFontSize : 15px;
$largeFontSize : 20px;

%textSettings {
  color : $white;
}

%paddingSettings {
  padding = 15px;
}

body {
    background-color: $lightgreen;
}

ul {
  border-color: #05386b;
  border-width: 2px;
  border-style: solid;
  @extend paddingSettings;
  list-style-type: none;
}

li {
    @extend %textSettings;
    font-size : $smallFontSize;
}

header{
    @extend %textSettings;
    font-size : $smallFontSize;
}

h1 {
    @extend %textSettings;
    font-size : $largeFontSize;
}

p {
    @extend %textSettings;
    font-size : $smallFontSize;
}

#mainBody{
  @extend %textSettings;
  border-color: #05386b;
  border-width: 2px;
  border-style: solid;
  @extend paddingSettings;
}
